<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-1">
        <!-- <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Buscar cliente"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field> -->
      </div>

      <div class="col-lg-2 d-flex align-items-center justify-content-end mt-mobile">
        <mat-card class="shadow-none m-b-0 p-12 bg-light-error text-center rounded-0 w-100">
          <h6 class="text-error f-w-700 m-0 f-s-16"><span class="f-s-12 m-x-6">EFECTIVO: </span>  S/. {{ getTotalPorTipo('efectivo') | number:'1.2-2' }} </h6>
        </mat-card>
      </div>

      <div class="col-lg-2 d-flex align-items-center justify-content-end mt-mobile">
        <mat-card class="shadow-none m-b-0 p-12 bg-light-success text-center rounded-0 w-100">
          <h6 class="text-success f-w-700 m-0 f-s-16"><span class="f-s-12 m-x-6">INTERBANK: </span>  S/. {{ getTotalPorTipo('interbank') | number:'1.2-2' }}</h6>
        </mat-card>
      </div>

      <div class="col-lg-2 d-flex align-items-center justify-content-end mt-mobile">
        <mat-card class="shadow-none m-b-0 p-12 bg-light-primary text-center rounded-0 w-100">
          <h6 class="text-primary f-w-700 m-0 f-s-16"><span class="f-s-12 m-x-6">BCP: </span>  S/. {{ getTotalPorTipo('bcp') | number:'1.2-2' }}</h6>
        </mat-card>
      </div>

      <div class="col-lg-2 d-flex align-items-center justify-content-end mt-mobile">
        <mat-card class="shadow-none m-b-0 p-12 text-center rounded-0 w-100 custom-btn-add">
          <h6 class="text-light f-w-700 m-0 f-s-16"><span class="f-s-12 m-x-6">TOTAL: </span>  S/. {{ totalAnual | number:'1.2-2' }}</h6>
        </mat-card>
      </div>

      <div class="col-lg-2 d-flex align-items-center justify-content-end mt-mobile">
        <mat-card class="shadow-none m-b-0 p-12 text-center rounded-0 w-100 custom-btn-add" style="background-color:#36c77c !important">
          <h6 class="text-light f-w-700 m-0 f-s-16"><span class="f-s-12 m-x-6">SALDO REAL: </span>  S/. {{ totalSistemaVivo | number:'1.2-2' }}</h6>
        </mat-card>
      </div>

      <div class="col-lg-1"></div>

    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">

      <app-loader [visible]="loading" mode="fullscreen" [size]="60" />
      <table mat-table [dataSource]="dataSource" class="w-100 custom-table">
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mes">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Mes</th>
          <td mat-cell *matCellDef="let element" width="20%">
            <div class="d-flex align-items-center">
              <!-- <img
                class="rounded-circle"
                [src]="element.imagePath"
                width="40"
                /> -->

                <div class=""> <!-- <div class="m-l-16"> -->
                  <p class="mat-subtitle-1 f-s-15 m-t-0">
                    {{ element.mes | titlecase }}
                  </p>
                  <!-- <small class="mat-body-1 f-s-14">{{ element.dni }}</small> -->
                </div>
            </div>
          </td>
        </ng-container>


        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Total
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-15" width="20%">S/ {{ element.total | number:'1.2-2' }}</td>
        </ng-container>

        <ng-container matColumnDef="tipoPago">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Tipo de pago
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <ng-container *ngFor="let tipo of element.porTipoPago">
              <span [tipoPagoColor]="tipo.nombre" class="bg-pago m-r-8" style="font-size: 14px; width: fit-content; font-weight:500; margin-right: 25px  !important; padding: 5px 15px !important; width: 140px !important">
                S/{{ tipo.monto | number:'1.2-2' }}
                <!-- {{ tipo.nombre }} : S/{{ tipo.monto | number:'1.2-2' }} -->
              </span>
            </ng-container>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="custom-tr"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[50, 100, 200]"
        showFirstLastButtons class="mt-5" style="display: none"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>





