<div class="row">

  <div class="col-lg-4">
    <mat-card class="cardWithShadow theme-card">

      <mat-card-content class="b-t-1">
        <form [formGroup]="viewClienteForm" (ngSubmit)="actualizarCliente()">
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">DNI</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="dni" placeholder="43559865" />
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="id" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Nombres completos</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="nombres" placeholder="Juan Alvarez"/>
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Teléfono</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="telefono" placeholder="987 654321" type="email" />
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Dirección</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="direccion" placeholder="Av. Méxivo 654 - San Borja" />
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="map-pin" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Lugar de nacimiento</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="lugarNacimiento" placeholder="Trujillo" />
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="world" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Teléfono 2</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="telefono2" placeholder="98 456123" />
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Cumpleaños</mat-label>
            </div>
            <div class="col-sm-12">
              <!-- <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="cumple" placeholder="05/09/2000" />
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="cake" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field> -->
              <mat-form-field appearance="outline" class="w-100">
                <input
                matInput
                [matDatepicker]="picker"
                formControlName="cumple"
                placeholder="Cumpleaños" />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-sm-12">
              <button mat-flat-button color="primary" class="btn-l"  [disabled]="viewClienteForm.invalid">Actualizar</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-3">

    <mat-card class="cardWithShadow theme-card">

      <mat-card-content class="b-t-1" style="padding: 15px">

        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource1" class="w-100 custom-table">

            <!-- Columna Día -->
            <ng-container matColumnDef="dia">
              <th mat-header-cell *matHeaderCellDef class="header-table-cliente"> Día </th>
              <td mat-cell *matCellDef="let element">
                Día {{ element.dia }}
              </td>
            </ng-container>

            <!-- Columna Cantidad -->
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef class="header-table-cliente"> Cuota (S/) </th>
              <td mat-cell *matCellDef="let element">
                S/. {{ element.cantidad | number:'1.2-2' }}
              </td>
            </ng-container>

            <!-- Filas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="custom-tr"></tr>
          </table>
        </div>




      <!-- <button mat-flat-button color="primary" (click)="actualizarCuotas()">Actualizar</button> -->

      </mat-card-content>

    </mat-card>


  </div>

  <div class="col-lg-3">

    <div class="row justify-content-end">

      <div class="col-lg-12 d-flex align-items-center justify-content-end">
        <mat-card class="shadow-none m-b-0 p-12 bg-light-primary text-center rounded w-100">
          <h6 class="text-primary f-w-700 m-0 f-s-16"><span class="m-x-4">{{ mesConsulta | uppercase }} / </span> <small> Cuota base: S/ {{ cuotaBaseCliente }}</small> </h6>
        </mat-card>
      </div>

      <div class="col-lg-12 d-flex align-items-center justify-content-end m-t-14" style="margin-top: 16px;">
        <form [formGroup]="filtroMesForm" class="w-100">
          <mat-form-field appearance="outline" class="w-100 custom-select">
            <mat-select value="0" formControlName="mes" placeholder="Selecciona un mes">
              <mat-option [value]="'01'">Enero</mat-option>
              <mat-option [value]="'02'">Febrero</mat-option>
              <mat-option [value]="'03'">Marzo</mat-option>
              <mat-option [value]="'04'">Abril</mat-option>
              <mat-option [value]="'05'">Mayo</mat-option>
              <mat-option [value]="'06'">Junio</mat-option>
              <mat-option [value]="'07'">Julio</mat-option>
              <mat-option [value]="'08'">Agosto</mat-option>
              <mat-option [value]="'09'">Septiembre</mat-option>
              <mat-option [value]="'10'">Octubre</mat-option>
              <mat-option [value]="'11'">Noviembre</mat-option>
              <mat-option [value]="'12'">Diciembre</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>


    </div>

    <div class="row">
      <div class="col-lg-12 d-flex align-items-center justify-content-end">
        <mat-card class="shadow-none m-b-0 p-12 text-center rounded w-100 custom-btn-add">
          <h6 class="text-light f-w-700 m-0 f-s-18"><span class="m-x-6">Total: </span>  S/.  {{ totalCuotasMes | number:'1.2-2' }}</h6>
        </mat-card>
      </div>
    </div>
  </div>


</div>


