<div class="row">

  <div class="col-lg-4 cliente-form">
    <mat-card class="cardWithShadow theme-card">

      <mat-card-content class="b-t-1">
        <form [formGroup]="viewClienteForm" (ngSubmit)="actualizarCliente()">
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">DNI</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="dni" placeholder="DNI" type="text"/>
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="id" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Nombres completos</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="nombres" placeholder="Nombres completos" type="text"/>
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Teléfono</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="telefono" placeholder="Teléfono" type="tel" />
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Dirección</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="direccion" placeholder="Dirección" type="text"/>
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="map-pin" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Lugar de nacimiento</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="lugarNacimiento" placeholder="Lugar de nacimiento" type="text"/>
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="world" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Teléfono 2</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="telefono2" placeholder="Teléfono2" type="tel"/>
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="f-w-600 d-block m-b-16">Cumpleaños</mat-label>
            </div>
            <div class="col-sm-12">
              <!-- <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="cumple" placeholder="05/09/2000" />
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="cake" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field> -->
              <mat-form-field appearance="outline" class="w-100">
                <input
                matInput
                [matDatepicker]="picker"
                formControlName="cumple"
                placeholder="Cumpleaños" />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-sm-12">
              <button mat-flat-button color="primary" class="btn-l rounded-0"  [disabled]="viewClienteForm.invalid">
                Actualizar
              </button>
              <app-loader [visible]="loadingButton" mode="inline" [size]="20" />

            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-4 cliente-total">

    <mat-card class="cardWithShadow theme-card">

      <mat-card-content class="b-t-1" style="padding: 15px">

        <div class="row justify-content-end">

          <div class="col-lg-12 d-flex align-items-center justify-content-end">
            <mat-card class="mat-mdc-card mdc-card shadow-none m-b-0 p-12 bg-light-success text-center rounded-0 w-100">
              <h6 class="text-success m-0 f-s-18 f-w-500"><span class="m-x-6">Total Acumulado: </span>  <span class="f-w-700">S/  {{ cliente?.saldoRealAcumulado | number:'1.2-2' }} </span></h6>
            </mat-card>
          </div>

          <div class="col-lg-12 d-flex align-items-center justify-content-end m-t-16">
            <mat-card class="mat-mdc-card mdc-card shadow-none m-b-0 p-12 bg-light-primary text-center rounded-0 w-100">
              <h6 class="text-primary f-w-500 m-0 f-s-18"><span class="m-x-6">Total {{ mesConsulta | titlecase }}: </span>  <span class="f-w-700">S/  {{ totalCuotasMes | number:'1.2-2' }}</span></h6>
            </mat-card>
          </div>

          <div class="col-lg-4 d-flex align-items-center justify-content-end px-mobile mt-mobile" style="padding-right: 0px">
            <mat-card class="mat-mdc-card mdc-card shadow-none m-b-0 bg-light-primary text-center rounded-0 w-100 cuotaBase">
              <span class="text-primary f-w-600 m-0 f-s-14">BASE: S/ {{ cuotaBaseCliente }} </span>
            </mat-card>
          </div>

          <div class="col-lg-8 d-flex align-items-center justify-content-end">
            <form [formGroup]="filtroMesForm" class="w-100">

              <mat-form-field appearance="outline" class="w-100 custom-select select-view-cliente" style="margin-top: 16px;">
                <mat-select formControlName="mes" placeholder="CONSULTE UN MES">
                  <mat-option *ngFor="let mes of mesesDisponibles" [value]="mes.numero.toString().padStart(2, '0')">
                    {{ mes.nombre | titlecase }}
                  </mat-option>

                </mat-select>
              </mat-form-field>

            </form>
            <app-loader [visible]="loadingConsulte" mode="inline" [size]="20" />
          </div>




        </div>

        <div class="table-responsive">

          <app-loader [visible]="loadingTables" mode="overlay" [size]="60" />
          <table mat-table [dataSource]="dataSource1" class="w-100 custom-table">

            <!-- Columna Día -->
            <ng-container matColumnDef="dia">
              <th mat-header-cell *matHeaderCellDef class="header-table-cliente"> Día </th>
              <td mat-cell *matCellDef="let element">
                Día {{ element.dia }}
              </td>
            </ng-container>

            <!-- Columna Cantidad -->
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef class="header-table-cliente"> Cuota</th>
              <td mat-cell *matCellDef="let element">
                S/. {{ element.cantidad | number:'1.2-2' }}
              </td>
            </ng-container>

            <!-- Filas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="tr-border custom-tr"></tr>
          </table>
        </div>




      <!-- <button mat-flat-button color="primary" (click)="actualizarCuotas()">Actualizar</button> -->

      </mat-card-content>

    </mat-card>


  </div>

  <div class="col-lg-4 cliente-retiro">

    <mat-card class="cardWithShadow theme-card">

      <mat-card-content class="b-t-1" style="padding: 15px">

        <div class="row justify-content-end">

          <div class="col-lg-12 d-flex align-items-center justify-content-end">
            <mat-card class="mat-mdc-card mdc-card shadow-none m-b-0 p-12 bg-light-error text-center rounded-0 w-100">
              <!-- <h6 class="text-error m-0 f-s-18 f-w-500"><span class="m-x-6">Retiros de : </span>  <span class="f-w-700"> {{ cliente?.nombres }} </span></h6> -->
              <h6 class="text-error m-0 f-s-18 f-w-500"><span class="m-x-6"> </span>  <span class="f-w-700"> RETIROS </span></h6>
            </mat-card>
          </div>

          <!-- <div class="col-lg-12 d-flex align-items-center justify-content-end" style="margin-top: 27px">
            <mat-card class="mat-mdc-card mdc-card shadow-none m-b-0 bg-light-primary text-center rounded-0 w-100 cuotaBase">
              <span class="text-primary f-w-600 m-0 f-s-14">REALICE UN RETIRO </span>
            </mat-card>
          </div> -->

          <div class="col-lg-12 d-flex align-items-center justify-content-end">
            <mat-form-field appearance="outline" class="w-100 custom-select select-view-cliente" style="margin-top: 16px;">
              <mat-select [(value)]="selectedMes" placeholder="ELIJA UN MES PARA RETIRAR"
                          (selectionChange)="realizarRetiro()">
                <mat-option *ngFor="let mes of mesesDisponibles" [value]="mes.numero">
                  {{ mes.nombre | titlecase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-loader [visible]="loadingRetire" mode="inline" [size]="20" />

          </div>



        </div>

        <div class="table-responsive">
          <app-loader [visible]="loadingTables" mode="overlay" [size]="60" />
          <table mat-table [dataSource]="dataSourceRetiro" class="w-100 custom-table">

            <!-- Columna Día -->
            <ng-container matColumnDef="mes">
              <th mat-header-cell *matHeaderCellDef class="header-table-cliente"> Mes </th>
              <td mat-cell *matCellDef="let element">
                {{ element.nombre | titlecase }}
              </td>
            </ng-container>

            <!-- Columna Cantidad -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef class="header-table-cliente"> Total </th>
              <td mat-cell *matCellDef="let element">
                S/ {{ element.totalDelMes | number:'1.2-2' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="fechaRetiro">
              <th mat-header-cell *matHeaderCellDef class="header-table-cliente"> Fecha de retiro </th>
              <td mat-cell *matCellDef="let element">
                {{ element.creadoEn | date: 'dd/MM/yyyy - h:mm a' }}
              </td>
            </ng-container>

            <!-- Filas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumnsRetiro"></tr>
            <!-- <tr mat-row *matRowDef="let row; columns: displayedColumnsRetiro" class="custom-tr"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRetiro" [ngClass]="{ 'bg-mes-retirado': esRetirado(row) }" class="custom-tr"></tr>
          </table>
        </div>




      <!-- <button mat-flat-button color="primary" (click)="actualizarCuotas()">Actualizar</button> -->

      </mat-card-content>

    </mat-card>


  </div>






</div>


