/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pageWrapper {
  max-width: 100% !important;
}

/* BOTONES */
.custom-btn-add {
    height: 44px !important;
    background-color: #d70000 !important;
}

/* BUTTON CUSTOMIZER */
.customizerBtn {
  display: none;
}

/* HEADER */

.logo {
  width: 35px;
}
.logo-text {
    color: #d70000;
    margin-left: 3px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 14px;
}


/* CLIENTES */
.mat-mdc-paginator {
  margin-top: 50px !important;
}

.btn-l {
  padding: 23px 33px !important;
  font-size: 16px !important;
  min-width: 150px !important;
}
#table-customer .mat-mdc-cell,
#table-customer .mat-mdc-header-cell {
  padding: 0px !important;
}

#table-customer .mat-mdc-form-field {
  padding-top: 13px !important;
}

/* DETALLE CLIENTE */
.header-table-cliente {
  font-size: 16px !important;
  font-weight: 600 !important;
}
.btn-action {
    padding: 0px !important;
    height: 30px !important;
    border-radius: 5px !important;
}
.btn-ver-cliente {
  background-color: #ebfaf0 !important;
  color: #36c76c !important;
  font-weight: 700 !important;
}
.btn-eliminar-cliente {
  background-color: #f8285a33 !important;
  color: #ff6692 !important;
  font-weight: 700 !important;
}
.cuotaBase {
    height: 48px !important;
    display: flex !important;
    justify-content: center !important;
    margin-top: -9px !important;
}


@media (width < 768px) {
  button.button-space {
    margin-top: 15px !important; // o lo que necesites
  }
}

/* CUOTAS */
.bg-pago {
  padding: 2px 1px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  width: 87px;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.5px;
}
.bg-pago-efectivo {
  background-color: #f8285a33;
  color: #ff6692;
}

.bg-pago-bcp {
  background-color: #dddbff;
  color: #635bff;
}

.bg-pago-interbank {
  background-color: #ebfaf0;
  color: #36c76c;
}


/* TABLAS */
.custom-table .custom-tr {
  height: 25px;
}
.custom-table .mat-mdc-cell {
  padding: 7px 14px;
}



.custom-select .mdc-notched-outline {
    border: 1px solid #dddbff !important;
    height: 48px !important;
  }

.mat-mdc-select-value {
    text-align: center !important;
    // font-size: 17px !important;
}

.mat-mdc-select-placeholder {
  color: #635bff !important;
  font-weight: 700 !important;
}

.custom-select .mdc-notched-outline__leading,
.custom-select .mdc-notched-outline__trailing {
  border-radius: 0px !important;
}


.bg-mes-retirado {
  background-color: #ffe7ef !important; /* rojo claro */
  color: #ff6692 !important;            /* texto más intenso */
}

.bg-mes-retirado td {
  border-bottom: 1px solid #ff6692 !important;
}

.tr-border td {
  border-bottom: 1px solid #ddd !important;
}
