/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pageWrapper {
  max-width: 100% !important;
}


/* CLIENTES */
.mat-mdc-paginator {
  margin-top: 50px !important;
}

.btn-l {
  padding: 23px 33px !important;
  font-size: 16px !important;
  min-width: 150px !important;
}
#table-customer .mat-mdc-cell,
#table-customer .mat-mdc-header-cell {
  padding: 0px !important;
}

#table-customer .mat-mdc-form-field {
  padding-top: 13px !important;
}
